.modal-overlay {
  z-index: 9999;
  width: 70%;
  height:100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: block;
  width: 65%;
  height: 500px;
  padding: 1rem;
  border-radius: 1rem;
  background: white;
  border: 2px solid black
}
.AddInput{

}
.AddInputBox{
  border : 2px solid black;
  width: 100%;
  padding: 6px;
}