.modal-overlay {
  z-index: 9999;
  width: 70%;
  height:100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: block;
  background: white;
  width: 65%;
  height: 400px;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.7);
}