img {
  background-size: cover;
}

.bg-9c6711 {
  background-color: #9c6711;
}

.bg-081857 {
  background-color: #081857;
}

.bg-5c79b1 {
  background-color: #5c79b1;
}

.bg-d95442 {
  background-color: #d95442;
}

.text-cdcac9 {
  color: #cdcac9;
}

.text-6d6c97 {
    color: #6d6c97;
}

.slick-next:before {
  color : black !important;
}
.slick-prev:before {
  color : black !important;
}